.navbar {
  background-color: #f9f9f9;
  color: blue; /* Changed text color to blue */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  height: 70px; /* Adjust the height of the logo as needed */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: blue; /* Changed link color to blue */
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}
